<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://cse.unl.edu/pzhang?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
        </property>
        <property name="connection.username">pzhang</property>
        <property name="connection.password">WelcomeUnl123$</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.search.default.directory_provider">
            filesystem
        </property>
        <property name="hibernate.search.default.indexBase">
            /data/index/default
        </property>
        <property name="hibernate.flushMode">commit</property>
        <!--drop table if exist-->
<!--                <property name="hibernate.hbm2ddl.auto">create</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="edu.unl.cse.csce361.package_tracker.backend.Address"/>
        <mapping class="edu.unl.cse.csce361.package_tracker.backend.Package"/>
        <mapping class="edu.unl.cse.csce361.package_tracker.backend.Sender"/>
        <mapping class="edu.unl.cse.csce361.package_tracker.backend.Receiver"/>
        <mapping class="edu.unl.cse.csce361.package_tracker.backend.Warehouse"/>
    </session-factory>
</hibernate-configuration>
